# Dépendances principales
python-dotenv

# Collecte des données
requests
PyGithub
beautifulsoup4
lxml

# Traitement des données
pandas
numpy
markdown


# Embeddings & Vector DB (Représentations vectorielles et base de données vectorielles)
sentence-transformers
qdrant-client

# LLM & RAG
langchain
langchain-community
openai
anthropic
groq
langchain-groq

# Retrieval
rank-bm25
sentence-transformerss




# Évaluation
ragas
datasets


# Interface Web
streamlit

# Utilitaires
pyyaml
tqdm
python-dateutil

# Développement
pytest
black
flake8


